body{
  margin: 0px;
}

input{
  display: table-cell;
  vertical-align: middle;
}


input[type=text] {
  content: none;
  width: 300px;
  text-align: center;
  border-style: none;
  border-bottom: 3px solid black ;
  background-color: transparent;
  border-radius: 2px;
  font-size: 16px;
  padding: 20px;
  transition: width 0.4s ease-in-out;
  margin-bottom: -10%;
}

/* ================================================================================================= */

#fundo_background{
  background-image: url('../HOMOLOGA/img/background_login.png') ;
  background-repeat: no-repeat;
  background-size:  100vw 100vh;
  background-color: #0b34b7;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

.conteudo{
  margin-top: -10%;
  display: flex;
  background-color: white;
  width: 1000px;
  height: 700px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px solid #041E9B; 
}

.content_pergunta{
  display: flex;
  --flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input_pergunta{
 

}